.login {
    margin-top: 500px;
    margin-left: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

/* Leo */

#valor { 
    margin-left: 800px;
}

.imagem {
    background-repeat: no-repeat;
    width: auto;
    margin-left: 250px;
}

#botao:first-child{
    
}

#botao{
    width: auto;
    padding: 10px
    
}

.doisprimeiros {
    margin-right: 20px;
}

.menu li:first-child {
    margin-left: 15px
}

.menu li {
    display: inline-block;
}

.menu{
    width: 270px;
    height: 40px;
    margin: 0 auto;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    background-color: background;
}

.descricao{
    margin-left: 50px;
    background-color: silver;
    width: 900px
    
}

.imovel {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 30px 50px;
    padding: 20px;  
    height: 500px;
    width: 1000px
}

p {
    font-size: 14px;
    font-family: Helvetica, sans-serif;
}

/* Pedro */

/* Rafa */

/* Breno */