.login{
    margin-top: 500px;
    margin-left: 700px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}

LINE_COMENT Leo 

#img1{
    background-repeat: no-repeat;
    width: auto;    
}

/* Leo */

.imovel1 p{
    margin: 0px auto;
}

.imovel1 {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 50px 50px;
    padding: 20px;
    height: 500px;
    width: 1000px
}

p{
    font-size: 14px;
    font-family: sans-serif;
}

/* Pedro */

/* Rafa */

/* Breno */