body{
    color: #333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px
    
}
h1{
    
    
    border: 2px solid #ccc ;
    border-right: -10px;
     padding: 5px;
}

