// Colors of project

// Brand-colors
$primary-normal: #1183FB;
$primary-dark: #0655A7;
$primary-light: #4EA5FF;

$secondary-normal: #007DFF;
$secondary-dark: #004FA0;
$secondary-light: #4B8ACB;

// Neutral-colors
$black-normal: #3196FF;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #f7f2fa;
$white-dark: #0D1117;
$white-light: #fefbff;

// Gray Scale
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #a6a6a7;

// Auxiliary colors
$red-normal: #eb3d3d;
$red-dark: #d03333;
$red-light: #f05454;

$green-normal: #32d957;
$green-dark: #28bb49;
$green-light: #50e170;

$yellow-normal: #ffce52;
$yellow-dark: #d9b043;
$yellow-light: #ffd76b;